save-exact=true
@8x8:registry=https://artifactory.es.8x8.com/artifactory/api/npm/npm-repository/

# Use for local publish tests, default verdaccio registry local url
# For safety disconnect from VPN when testing publish changes to not affect Artifactory npm registry
# @8x8:registry=http://localhost:4873/
